*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 60px;
   background-color:#0F1111; 
   color: white;
   display: flex    ;
   align-items: center;
   justify-content: space-evenly;
}
/* .logo_container{
    margin-right: 2%;
    
} */
.clone_img{
    height: 50px;
width: 100px;
background-color: #0F1111;
margin-top: 4px;

}
.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

.add-icon{
align-items: center;
display: flex;
justify-content: center;
/* margin-left: 3px; */
}
.add-fir{
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-sec{
    font-size: 1rem;
    margin-right: 3px;
}
.search_bar{
    display: flex;
height: 40px;
width:620px ;
border-radius: 4px;
background-color: aliceblue;
justify-content: space-evenly;
}
.search_bar:hover{
    border: 2px solid orange ;
}
.search-select{
background-color: #f3f3f3;
text-align: center;
border-bottom-left-radius: 4px;
border-top-left-radius:4px ;
border: none;
width: 50px;
}
.search-input{
border: none;
font-size: 1rem;
width: 100%;

}
.search-icon{
    width: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: black;
    background-color: rgb(238, 112, 22);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
span{
font-size: 0.7rem;
}
.nav-second{
font-size:0.85rem;

}
.cart{
     font-size: 0.85rem;
}
.cart span{
font-size: 30px;
}
.panel{
height: 40px;
background-color: #222f3d;
display: flex;
align-items: center;
justify-content: space-evenly;
color: #f3f3f3;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
    /* justify-content: space-evenly; */
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-all{
display: flex;
align-items: center;
justify-content: center;
/* margin-left: 10px; */
}
.panel-deal{
font-size:0.9rem ;
font-weight: 700px;
}
.main-section{
    /* background-image: url("images/hero_image1.jpg"); */
    background-size: cover;
    height: 500px;
    width: 95%;
    /* display: flex; */
    justify-content: center;
    align-items: flex-end;
margin-left: 2.5%;

}
.logo-background{
    width:100%;
    height: 400px;
    /* margin-top: 15px; */

    /* background-size: cover;
    /* height: 350px; */
    /* display: flex; */
    /* justify-content: center;
    align-items: flex-end;  */
}
/* /* / */
.main-msg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}
.main-msg a{
    color: #007185
}
.shop-section{
     display: flex;
     background-color: #e2e7e6;
     justify-content: space-evenly;
     flex-wrap: wrap;
}
.box{
    /* border:2px solid black ; */
    height: 440px;
    width: 23.5%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;

}
 .box-img{
    height: 300px; 
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
 }
 .box-content{
    margin-left: 1rem;
    margin-right: 1rem;
 }
 .box-content p{
 color: #007185;   
 }
 .foot-panel {

background-color: #334a63;
color: white;
height: 50px;
display: flex;
align-items: center;
justify-content: center;


 }
 .foot-panel2{
background-color: #222f3d;
color: white;
height: 300px;
display: flex;
justify-content: space-evenly;
align-items: center;
/* font-size: 0.85rem; */

 }
 ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: rgb(201, 196, 196);
 }
 ul{
    margin-top: 5;
 }
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url('images/amazon_logo.png');
    background-size: cover;
    height: 50px;
    width: 100px;
    
}
.foot-panel4{
    
    background-color: black;
    color: white;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 80px;
    font-size: 0.85rem;
    text-align:center ;

}
.pages{
    
    padding-top: 25px;

}
.copyright{
 
    padding-top: 5px;
}